*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 24px;  
}

body, header, input, select{
  font-family: 'Poppins', sans-serif;
}

.page{
  width: 736px;
  margin: auto;  
}

header{
  width: 319px;
  margin-top: 74px;

}

body{  
  background-color: #e5e5e5;  
}

body::before{
  content: 'Olá voce está';
  width: 100%;
  height: 368px;
  background-color: #121214;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header p{  
  font-style: normal;
  color: #42d3ff;
  size: 16px;
  line-height: 26px;
}

form{
  border-color: #d6d6d6;
  background: #fafafa;
  border-radius: 8px 8px 0px 0px;
  min-height: 300px;
  margin-top: 38px;
  padding: 64px;
}

fieldset{
  border: none;
  }

  fieldset legend{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
  }

  .input-wrapper{
    
    
    display: flex;
    flex-direction: column;
    
  }


  .input-wrapper label{    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4e4958; 
    margin-bottom: 8px;   
  }

  .input-wrapper label span{
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #c1bccc;
  }

  .input-wrapper input{
    background: #fafafc;
    border: 1px solid #e6e6f0;  
    border-radius: 8px;
    width: 608px;  
    height: 56px;
    padding: 0 24px;    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC;
  }
  

